<h1 mat-dialog-title>Your Wallet</h1>
<mat-dialog-content class="mat-typography">
  <h2>Transactions</h2>
  <p>Order jwfkbe2234</p>
  <p>Order 45hjh45424</p>
  <p>Order 2884hh3hj3</p>
  <p>Order 756bhb2342</p>


  <h2>History</h2>
  <p>Order jwfkbe2234</p>
  <p>Order 45hjh45424</p>
  <p>Order 2884hh3hj3</p>
  <p>Order 756bhb2342</p>




</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Feedback</button>
</mat-dialog-actions>
