<mat-card *ngFor="let a of items | async">
  <div class="recipe-card">
    <article>
      <mat-card-title>{{a.orderTitle}}</mat-card-title>
      <h4>Review</h4>
      <h5>Order Number: {{a.transactionID}}</h5>
      <p>{{a.orderDescription}}</p>
      <ul>
        <li><i class="material-icons icon">schedule</i><span>Deadline : {{ a.orderDeadline.seconds * 1000 | date:'medium' }}</span></li>
        <li><i class="material-icons icon">linear_scale</i><span>Under Waranty</span></li>
        <li><i class="material-icons icon">work_outline</i>10 pages</li>
        <li><i class="material-icons icon">equalizer</i>Intermediate</li>
      </ul>
    </article>
  </div>
</mat-card>