<div class="banner">
  <div class=" mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title" routerLink="/">Research Locus</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation navigator">
      <button mat-button> <i class="material-icons">play_circle_filled</i> How it works</button>
      <button mat-button *ngIf="!(user | async)" routerLink="/login">Log in</button>
      <button mat-button *ngIf="(user | async)" (click)="logout()">Log out</button>
      <button mat-stroked-button *ngIf="!(user | async)" routerLink="/register">SIGN UP</button>
    </nav>
    <a class="mdl-navigation__link menum" [matMenuTriggerFor]="menu"><i class="material-icons">account_circle</i>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/account" >Account</button>
        <button mat-menu-item *ngIf="!(user | async)" routerLink="/login">Login</button>
        <button mat-menu-item *ngIf="(user | async)" (click)="logout()">Logout</button>
        <button mat-menu-item *ngIf="!(user | async)" routerLink="/register">SIGN UP</button>
        <button mat-menu-item> <i class="material-icons">play_circle_filled</i> How it works</button>
      </mat-menu>
    </a>
  </div>
</div>

      <mat-card class="rdetails mt-4 ">
        <div class="container fluid d-flex justify-content-center flex-column">

          <div class="row">
            <div class="col-lg-4">
              <img class="reviewicons mx-auto d-flex flex-column" src="../../../assets/baseline-assignment_turned_in-24px.svg"
                alt="" srcset="">
              <div class="subtitle">plagiarism free</div>
              <p class="d-flex justify-content-center mx-auto textdesc">We use anti-plagiarism software to ensure you
                get high-quality, unique papers.</p>
              <img class="reviewicons mx-auto d-flex flex-column" src="../assets/reviewfive.svg" alt="" srcset="">
            </div>
            <div class="col-lg-4">
              <img class="reviewicons mx-auto d-flex flex-column" src="../../../assets/baseline-security-24px.svg" alt=""
                srcset="">
              <div class="subtitle">privacy</div>
              <p class="d-flex justify-content-center mx-auto textdesc">We use an SSL 128 Bit encryption to protect
                your personal info and payment details. Your privacy is safe with us.</p>
              <img class="reviewicons mx-auto d-flex flex-column" src="../assets/reviewfive.svg" alt="" srcset="">
            </div>
            <div class="col-lg-4">
              <img class="reviewicons mx-auto d-flex flex-column" src="../../../assets/baseline-timer-24px.svg" alt=""
                srcset="">
              <div class="subtitle">guaranteed delivery</div>
              <p class="d-flex justify-content-center mx-auto textdesc">We offer a limited warranty, including free
                revisions, and the rights to request a refund.</p>
              <img class="reviewicons mx-auto d-flex flex-column" src="../assets/reviewfive.svg" alt="" srcset="">
            </div>
          </div>
        </div>

          <div class="u-centered">
            <div class="m-payments__label">We accept:</div>

            <img src="../../../assets/mpesa.png" class="m-payment" alt="">
          </div>
      </mat-card>
    

<footer class="mdl-mega-footer">
      <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Features</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Partners</a></li>
          </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Details</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">Spec</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Technology</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">How it works</a></li>
            <li><a href="#">Usage</a></li>
            <li><a href="#">Products</a></li>
          </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">FAQ</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">Questions</a></li>
            <li><a href="#">Answers</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
      </div>
      <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo">
          More Information
        </div>
        <ul class="mdl-mega-footer--link-list">
          <li><a routerLink="/">{{site}}</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy and Terms</a></li>
        </ul>
      </div>
    </footer>
<a id="view-source" routerLink="/assignment" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Place
  an Order
</a>