@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

#view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
  }

.banner{
    height: 400px;
    background-image: url('../../../assets/banner-locus.jpg');
    background-size:  cover;
}
.spacer{
    flex: 1 1 auto;
}

@media (max-width: 1026px){
    .banner{
    background-image: url('../../../assets/banner-locus_short.jpg');
    background-size:  cover;
    }
    .navigator{
        display: none;
    }
    .menum{
        display: visible;
    }
}
@media(min-width: 1026px){
    .menum{
        display: none;
    }
}
.mdl-layout-title{
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  }
  .mdl-layout__header-row{
    color: white;
}
.serviceicon{
  height: 100px;
}

.reviewcard{
  width: 100px;
  height: 100px;
}
.reviewicons{
  width: 70px;
  height: 70px;
  color: #4786c8;
}
.subtitle{
  margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.u-centered {
  text-align: center;
  display: block;
  color: #adb2b8;

}
.m-payment {
  width: 70px;
  background-size: cover;
  color: #adb2b8;
}

a:hover{
  text-decoration: none;
}


h2{
    text-align: center;
}

.col{
    float: left;
    width: 33.3%;
    padding: 8px;
    box-sizing: border-box;
}
