<div class=" mdl-layout__header-row">
  <!-- Title -->
  <span class="mdl-layout-title" routerLink="/">Research Locus</span>
  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer"></div>
  <!-- Navigation -->
  <nav class="mdl-navigation navigator">
    <button mat-button> <i class="material-icons">play_circle_filled</i> How it works</button>
    <button mat-menu-item *ngIf="(user | async)" routerLink="/account">Account</button>
    <button mat-button *ngIf="!(user | async)" routerLink="/login">Log in</button>
    <button mat-button *ngIf="(user | async)" (click)="logout()">Log out</button>
    <button mat-stroked-button *ngIf="!(user | async)" routerLink="/register">SIGN UP</button>
  </nav>
  <a class="mdl-navigation__link menum" [matMenuTriggerFor]="menu"><i class="material-icons">account_circle</i>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="(user | async)" routerLink="/account">Account</button>
      <button mat-menu-item *ngIf="!(user | async)" routerLink="/login">Login</button>
      <button mat-menu-item *ngIf="(user | async)" (click)="logout()">Logout</button>
      <button mat-menu-item *ngIf="!(user | async)" routerLink="/register">SIGN UP</button>
      <button mat-menu-item> How it works</button>
    </mat-menu>
  </a>
</div>
<button (click)="tokenizer()" class="mat-raised-button">
Mpesa token generator 
</button>
<button (click)="lipaFunct()" class="mat-raised-button">
  Lipa Mpesa Function
  </button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup" state="inst">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Instructions</ng-template>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Assignment" formControlName="firstCtrl" required>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Type" required>
          <mat-option *ngFor="let a of assignment" [value]="a.value">
            {{a.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field class="textform" appearance="outline">
        <textarea matInput placeholder="Enter Additional Assignment Instructions" class=""></textarea>

      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" state="upload">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Upload Documents</ng-template>

      <div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">

        <h3>Additional Uploads</h3>
        <div class="file">
          <label class="file-label">

            <input class="file-input" type="file" (change)="startUpload($event.target.files)">

            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
          </label>
        </div>
      </div>

      <div *ngIf="percentage | async as pct">

        <progress class="progress is-info" [value]="pct" max="100">
        </progress>

        {{ pct | number }}%

      </div>

      <div *ngIf="(snapshot | async) as snap">
        {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}


        <div *ngIf="downloadUrl | async as url">
          <h4>Uploaded</h4>
          <img [src]="url"><br>
          <p>{{file}}</p>
          <a [href]="url" target="_blank" rel="noopener">View</a>
        </div>
        <hr>

        <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
        <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
        <button (click)="task.resume()" class="button is-info" [disabled]="!(snap?.state === 'paused')">Resume</button>


      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="donestep">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-7">
          <mat-card>
            <mat-card-title>
              Choose Your Payment Method
            </mat-card-title>
            <div class="payment-method-widget">
              <div class="pmw-left">

              </div>
              <div class="pmw-right">
                
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <span class="spacer"></span>
      <button mat-raised-button (click)="openDialog()">Review</button>
    </div>
  </mat-step>
  <ng-template matStepperIcon="inst">
    <mat-icon>message</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="upload">
    <mat-icon>attach_file</mat-icon>
  </ng-template>
</mat-horizontal-stepper>